@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY AND BASIC STYLES */

body{
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;

    height: auto;
    background-color: rgb(250,250,250);
    width: 99vw;

    overflow-x: hidden;
}


.showFlex{
    display: flex;
}

.hide{
    display: none;
}

/* HEADER / NAV STYLES */

header{
    height: 300px;
    width: 100%;

    /* background-color: rgba(0, 255, 255, 0.7); */

    position: absolute;
    top: 5px;
    z-index: 100;
}

nav{
    width: 100%;
    height: 99%;

    overflow: hidden;

    /* background-color: bisque; */
}


.navigation-container{
    width: 100%;
    height: 99%;

    /* background-color: green; */

    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
}

.navigation-container li{
    list-style-type: none;

    color: hsl(0, 0%, 41%);

    cursor: pointer;
}

.navigation-container li:hover{
    color: hsl(0, 0%, 8%);
}


.basics {
    /* background-color: blueviolet; */


    width: 50%;
    height: 20%;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
}

.basics li{
    padding: 1.5em;
    width: 22%;
    text-align: center;
}


/* DROPDOWN MENU */
    .dropdown:hover .basics{
        overflow: auto;
    }



    .dropbtn {
        font-size: 18px;
        font-family: 'Epilogue', sans-serif;
        color: hsl(0, 0%, 41%);
        cursor: pointer;
        /* padding: 16px; */
        border: none;

        background-color: transparent;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;

        margin-top: 1em;
        height: 140px;

        flex-direction: column;
        align-items: baseline;

        justify-content: space-evenly;

        }

  
    .dropdown-content a {
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    display: block;
    }

    .dropdown:hover .dropdown-content {
    display: flex;   
    }   

    .dropdown:hover .dropbtn {
        color: black;
    } 
  

    .overflow-show{
        overflow: auto;
    }

    .overflow-hide{
        overflow: hidden;
    }


    .dropdown-content a:hover{
        color: black;
    }
/* -------------- */


.basics img{
    width: 10%;
}

.members li{
    padding:0.8em 2.2em;
    
    border: 3px solid hsla(0, 0%, 8%, 0);
    border-radius: 1em;

    cursor: pointer;
    width: 49%;
     
    text-align: center;
}

.members li:nth-of-type(2):hover{
    border: 3px solid hsla(0, 0%, 8% ,1);

}

.members{
    
    overflow: hidden;


    width: 20%;
    height: 20%;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

}


/* navigation drop menus */

.popUp{

    background-color: white;
    position: relative;


    width: 10%;
    height: 50%;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 1em;

}

.drop-feature {
    top: -250px;
    left: 5%;
}

.company-feature {
    top: -250px;
    left: 19%;
}


.popUp li{
    width: 80%;
    list-style-type: none;
    
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items:flex-start;

    cursor: pointer;

}

.popUp li img{
    width: 10%;
    height: 70%;

    margin-right: 1em;
}


/* MAIN STYLES */

main{
    position: relative;
    top: 215px;


    height: 700px;
    /* overflow: hidden; */

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.remote-article{
    grid-row: 1 / 10;
    grid-column: 2 / 6;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.remote-article h1{
    font-size: 4em;
    width: 100%;

    font-weight: 600;
}

.wide{
    display: inline;
}

.narrow{
    display: none;
}


.remote-article p{
    font-size: 1.2em;

    color: hsl(0, 0%, 41%);;

    text-align: justify;
}


.remote-article article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 80%;
    /* background-color: green; */
}


.products{
    width: 99%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.products img{
    width: 10%;
    height: 70%;
}

.remote-hero{

    background-image: url("/images/image-hero-desktop.png");
    background-repeat: no-repeat;
    background-size: 95%;

    grid-row: 1 / 11;
    grid-column: 7 / 10;
}



#learn{
    cursor: pointer;

    padding: 1em;
    width: 25%;

    background-color: black;
    color: white;
    border: 2px solid transparent;
    font-weight: 600;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 1em;
}

#learn:hover{
    background-color: white;
    color: black;

    border: 2px solid black;
}

@media only screen and (max-width:1400px){
    header{
        font-size: 14px;
    }
    
    #learn{
        width: 50%;
    }
}

@media only screen and (max-width:1100px){
    header{
        font-size: 12px;
    }
    
    
}

@media only screen and (max-width:1000px){
    header{
        font-size: 10px;
        height: 100px;
    }

    main{
        top: 75px;
        height: 1000px;

        grid-template-rows: repeat(10, 100px);
        grid-template-columns: repeat(10, 1fr);
    }


    .wide{
        display: none;
    }

    .narrow{
        display: inline;
    }

    .remote-hero{
        grid-column: 2 / 10;
        grid-row: 1 / 5;
    }

    .remote-hero{
        background-image: url("/images/image-hero-mobile.png");
        background-size: 100% 100%;
    }

    .remote-article{
        grid-column: 1 / 11;
        grid-row: 5 / 11;
    }

    .remote-article article{
        align-items: center;
        width: 98%;
    }

    .remote-article h1{
        text-align: center;
    }


    #learn{
        width: 40%;
    }
}

@media only screen and (max-width:700px){
    .remote-article h1{
        font-size: 3em;
    }

    .remote-hero {
        background-position: center;
        background-size: 100% 80%;
    }

    .remote-article{
        grid-column: 2 / 10;
        grid-row: 5 / 11;

        justify-content: space-evenly;
    }

    #learn{
        width: 70%;
    }

    .products img{
        width: 15%;
    }
}

@media only screen and (max-width:600px){
    .remote-article h1 {
        font-size: 2.3em;
    }

    .remote-article article {
        height: 60%;
    }
}




@media only screen and (max-width:500px){
    .remote-article h1{
        font-size: 2em;
    }

}