@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY AND BASIC STYLES */

body{
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;

    height: auto;
    width: 99vw;
    /* min-width: 300px; */

    background-color:  rgba(219, 219, 219, 54%);

    overflow-x: hidden;
}

.logo{
    position: absolute;
    top: 10px;
    left: 10px;

    width: 75px;

    display: none;
}

.header-logo{
    cursor: pointer;
}


.showFlex{
    display: flex;
}

.hide{
    display: none;
}

/* HEADER / NAV STYLES */


.hide{
    display: none;
}



header{
    height: 300px;
    width: 100%;

    /* background-color: rgba(0, 255, 255, 0.7); */

    position: absolute;
    top: 5px;
    z-index: 100;

    
}

.menu{
    width: 50px;
    height: 50px;
    
    top: 10px;
    right: 10px;

    cursor: pointer;


    /* background-color: blue; */

    z-index: 200;

    position: absolute;
    
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    overflow: hidden;
}


.menu span{
    width: 40px;
    height: 5px;

    background-color: black;

    display: inline-block;
    
    z-index: 100;
}

nav{
    width: 100%;
    height: 99%;

    overflow: hidden;

    /* background-color: bisque; */
}


.navigation-container{
    width: 100%;
    height: 99%;

    /* background-color: green; */

    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
}

.navigation-container li{
    list-style-type: none;

    color: hsl(0, 0%, 41%);

    cursor: pointer;
}

@media (hover: hover){
.navigation-container li:hover{
    color: hsl(0, 0%, 8%);
}

    .dropdown:hover .basics{
        overflow: auto;
    }


    #learn:hover{
        background-color:  rgb(226, 221, 221);
        color: black;

        border: 2px solid black;
    }

    .members li:nth-of-type(2):hover{
        border: 3px solid hsla(0, 0%, 8% ,1);
    }

    .dropdown-content a:hover{
        color: black;
    }

/* 
    .dropdown:hover .dropdown-content {
        display: flex;   
    }    */

    .dropdown:hover .dropbtn {
        color: black;
    } 




}



.basics {
    /* background-color: blueviolet; */


    width: 50%;
    height: 20%;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
}

.basics li{
    padding: 1.5em;
    width: 22%;
    text-align: center;
}


/* DROPDOWN MENU */
 

    .dropbtn {
        font-size: 1em;
        font-family: 'Epilogue', sans-serif;
        color: hsl(0, 0%, 41%);
        cursor: pointer;
        /* padding: 16px; */
        border: none;

        background-color: transparent;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {

        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        transition: all 1s ease-in;

        background-color: white;
        position: absolute;
        min-width: 160px;
        z-index: 1;

        display: none;

        margin-top: 1em;
        height: 140px;
        
        padding: 1em;
        border-radius: 0.5em;

        flex-direction: column;
        align-items: baseline;

        justify-content: space-between;
    }

    #company > .dropdown-content{
        height: 110px;
    }

  
    .dropdown-content a {
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    display: block;

    width: 100%;
    text-align: left;
    }


  

    .overflow-show{
        overflow: auto;
    }

    .overflow-hide{
        overflow: hidden;
    }


 
/* -------------- */


.basics img{
    width: 10%;
}

.members li{
    padding:0.8em 2.2em;
    
    border: 3px solid hsla(0, 0%, 8%, 0);
    border-radius: 1em;

    cursor: pointer;
    width: 49%;
     
    text-align: center;
}

.members{
    
    overflow: hidden;


    width: 20%;
    height: 20%;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

}


/* navigation drop menus */


.drop-feature {
    top: -250px;
    left: 5%;
}

.company-feature {
    top: -250px;
    left: 19%;
}


/* MAIN STYLES */

main{
    position: relative;
    top: 215px;


    height: 700px;
    /* overflow: hidden; */

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.remote-article{
    grid-row: 1 / 10;
    grid-column: 2 / 6;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.remote-article h1{
    font-size: 4em;
    width: 100%;

    font-weight: 600;
}

.wide{
    display: inline;
}

.narrow{
    display: none;
}


.remote-article p{
    font-size: 1.2em;

    color: hsl(0, 0%, 41%);;

    text-align: justify;
}


.remote-article article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 80%;
    /* background-color: green; */
}


.remote-article article h1:first-of-type{
    display: inline-block;
}
.remote-article article h1:nth-of-type(2){
    display: none;
}

.products{
    width: 99%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.products img{
    width: 10%;
    height: 70%;
}

.remote-hero{

    background-image: url("/images/image-hero-desktop.png");
    background-repeat: no-repeat;
    background-size: 95%;

    grid-row: 1 / 11;
    grid-column: 7 / 10;
}



#learn{
    cursor: pointer;

    padding: 1em;
    width: 25%;

    background-color: black;
    color: white;
    border: 2px solid transparent;
    font-weight: 600;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 1em;
}

@media only screen and (max-width:1400px){
    header{
        font-size: 14px;
    }
    
    #learn{
        width: 50%;
        cursor: pointer;
    }
}

@media only screen and (max-width:1100px){
    header{
        font-size: 12px;
    }
    
    
}

@media only screen and (max-width:1000px){
    header{
        font-size: 10px;
        height: 200px;
    }

    main{
        top: 75px;
        height: 1000px;

        grid-template-rows: repeat(10, 100px);
        grid-template-columns: repeat(10, 1fr);
    }

    .navigation-container{
        font-size: 1.4em;
    }

    .basics{
        width: 65%;
    }


    .wide{
        display: none;
    }

    .narrow{
        display: inline;
    }

    .remote-hero{
        grid-column: 2 / 10;
        grid-row: 1 / 5;
    }

    .remote-hero{
        background-image: url("/images/image-hero-mobile.png");
        background-size: 100% 100%;
    }

    .remote-article{
        grid-column: 1 / 11;
        grid-row: 5 / 11;
    }

    .remote-article article{
        align-items: center;
        width: 98%;
    }

    .remote-article h1{
        text-align: center;
    }


    #learn{
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {

    .basics{
        width: 70%;
    }

    .members{
        width: 30%;
    }

}


@media only screen and (max-width: 800px) {
    .navigation-container{
        font-size: 1.5em;
    }
s    

    .basics {
        width: 80%;
        font-size: 1.5em;
    }

    .basics li{
        padding: 0.3em;
    }
}

@media only screen and (max-width:700px){



    .logo{
        display: inline-block;
    }

    .header-logo{
        display: none;
    }

    .header-hidden{
        background-color: transparent;
    }

    .header-hidden nav{
        position: relative;
        left: 100%;
    }


    header{
        pointer-events: none;

        height: 100vh;

        position: fixed;

        right: 0px;
        top: 0%;

        width: 100vw;
        
        background-color: rgba(0, 0, 0, 0.57);
        transition: ease-in-out 500ms;
    }
    
    nav{
        width: 50%;
        height: 100%;

        background-color: white;

        position: absolute;
        right: 0;

        }

        .menu-open{
            position: fixed;
        }

        .menu-open span:nth-child(1){
            transform: translateX(6%) translateY(232%) rotate(45deg);
            transition: ease-in-out 500ms all;
        }

        .menu-open span:nth-child(2){
                    transition: ease-in-out 500ms all;
                    margin-left: 250%;
        }
        
        .menu-open span:nth-child(3){
            transform: translateX(-1%) translateY(-305%) rotate(-45deg);
            transition: ease-in-out 500ms all;
        }
        



    .navigation-container{
        font-size: 1.2em;
        pointer-events: all;

        position: absolute;
        background-color: white;
        top: 10%;
        
        height: 50%;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .navigation-container a{
        z-index: 300;
    }


    .basics {
        /* background-color: blueviolet; */
        height: 30%;

        flex-direction: column;
        align-items: flex-start;
        justify-content:space-between;
    }

    .basics-show{
        height: 80%;
    }



    .members{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        height: 20%;
    }

    .dropdown-none{
        display: none;
    }

    .dropdown-show{
        display: flex;
    }

    .dropdown-content{
        position: relative;
        height: 99%;
        margin-top: 0;
    }

    .dropdown-content a{
        height: 25%;
        width: 99%;
        overflow: hidden;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    #features, #company{
        height: auto;
    }
    

    .basics, .members{
        width: 90%;
    }


    .members li{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        height: 35%;
 
    }

    .basics li{
        padding: 0 1.5em;
        width: 99%;
    }

    .members li{
        height: 20%;
        /* padding: 10% 1.5em 0 1.5em; */
    }

    .basics li, .members li{
        width: 99%;

        text-align: left;
        font-size: 1.5em;
    }

    
    

    main{
        min-height: 500px;
        top: 0;
    }

    .remote-article article h1:first-of-type{
        display: none;
    }
    .remote-article article h1:nth-of-type(2){
        display: inline-block;
    }
    

    .remote-article h1{
        font-size: 3em;
    }

    .remote-hero {
        background-position: center;
        background-size: 100% 80%;
    }

    .remote-article{
        grid-column: 2 / 10;
        grid-row: 4 / 11;

        justify-content: space-evenly;
    }

    #learn{
        width: 70%;
    }

    .products img{
        width: 15%;
    }

    .menu{
        display: flex;
        transition: ease-in-out 2s all;
    }


}

@media only screen and (max-width:600px){
    .remote-article h1 {
        font-size: 2.3em;
    }

    .remote-article article {
        height: 60%;
    }
}




@media only screen and (max-width:500px){
    .remote-article h1{
        font-size: 2em;
    }

}


@media only screen and (max-width:400px){

    body{
        font-size: 16px;
    }

    header{
        font-size: 9px;
    }

    .menu{
        width: 30px;
        height: 30px;
    }

    .menu span{
        width: 30px;
        height: 3px;
    }

    .remote-article h1 {
        font-size: 1.4em;
    }
}